{% extends 'index.html' %}

{% block title %}{% if tenant %} Edit tenant: {{tenant.name}} {% else %}Create a tenant{% endif %}{% endblock %}

{% block headscript %}
<script src="/static/third_party/angular/angular.min.js" type="text/javascript"></script>
<script src="/static/js/tenants.js" type="text/javascript"></script>
{% endblock %}

{% block header %}
    {% include "page-header.html" %}
{% endblock %}

{% block content %}
  <div id="content-body" ng-app="coopr" ng-controller="TenantCreateCtrl">

    <div id="title" class="clearfix">
      <h3>{% if tenant %} 
        <span ng-init='tenant={{tenantJson}}'>
          Edit tenant: {{tenant.name}} 
        </span>
      {% else %}
        Create a tenant
      {% endif %}</h3>
    </div>

    <div id="panels">

      <div class="panel spl-panel">
        <div class="panel-body spl-panel-body">
          <form class="form-horizontal" role="form" action="{% if tenant %}/tenants/update{% else %}/tenants/create{% endif %}" ng-submit="submitForm($event)">

            <div class="form-group">
              <label for="inputName" class="col-sm-2 control-label">Name of tenant</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="inputName" name="name" 
                  placeholder="Name of tenant" 
                  {% if tenant %}disabled="disabled"{% endif %}
                  ng-model="tenant.name" required/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Constraints</label>
              <div class="col-sm-3">
                <label class="input-group">
                  <span class="input-group-addon"># of workers</span>
                  <input type="number" class="form-control" name="workers" 
                    placeholder="# of workers" 
                    min="0" max="2147483647"
                    ng-model="tenant.workers" required/>
                </label>
              </div>

              <div class="col-sm-3">
                <label class="input-group">
                  <span class="input-group-addon">Max clusters</span>
                  <input type="number" class="form-control" name="maxClusters"
                    placeholder="Max clusters" 
                    min="1" max="2147483647"
                    ng-model="tenant.maxClusters" />
                </label>
              </div>

              <div class="col-sm-3">
                <label class="input-group">
                  <span class="input-group-addon">Max nodes</span>
                  <input type="number" class="form-control" name="maxNodes" 
                    placeholder="Max nodes" min="1" 
                    ng-model="tenant.maxNodes" />
                </label>
              </div>
            </div>

            <div class="form-group">
              <label for="inputDescription" class="col-sm-2 control-label">Description</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="inputDescription" name="description" 
                  placeholder="Description" 
                  ng-model="tenant.description"></textarea>
              </div>
            </div>

{% if !tenant %}
            <div class="form-group">
              <label class="col-sm-2 control-label">Bootstrap</label>
              <div class="col-sm-9">
                <label class="checkbox">
                  <input type="checkbox" ng-model="bootstrap" />
                  Check to copy everything over from superadmin
                </label>
              </div>
            </div>
{% endif %}

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-8">
                  <button type="submit" class="btn-spl btn-info">Submit</button>
              </div> 
            </div>

          </form>
        </div>
      </div>

    </div>

  </div>
{% endblock %}
