{% extends 'index.html' %}

{% block title %}Image Types{% endblock %}

{% block header %}
    {% include "page-header.html" %}
{% endblock %}

{% block content %}
  <div id="content-body">
    <div id="title">
      <h3 class="pull-left">Image types</h3>
      <div class="pull-right">
        <div id="global">
          {% include "imagetypes/topmenu.html" %}
        </div>
      </div>
      <div style="clear: both"></div>
    </div>

    <div id="panels">

      <div class="panel spl-panel" style="clear: both;">

        <div class="panel-body spl-panel-body">
          {% if imagetypes and imagetypes.length %}
            <table class="table table-striped tablesorter spl-panel-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th class="no-sort"></th>
                </tr>
              </thead>
              <tbody>
                {% for entry in imagetypes %}
                  <tr>
                    <td><a href="/imagetypes/imagetype/{{entry.name}}">{{ entry.name }}</a></td>
                    <td>{{ entry.description }}</td>
                    <td>
                      <form role="form" method="POST" action="/imagetypes/delete/{{entry.name}}" class="delete-form">
                        <input type="hidden" value="{{entry.name}}" name="name" />
                        <button type="submit" class="btn-spl btn-delete"></button>
                      </form>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
              
            </table>
            {% else %}
              <p>You don't have any image types.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
<script data-main="/static/js/generic-form-control" src="/static/third_party/require.js"></script>
{% endblock %}
