<div class="row">
  <div class="col-xs-6" ng-repeat="(key, field) in fields">

    <div class="checkbox" ng-if="field.type=='checkbox'">
      <label>
        <input type="checkbox"
          title="{{field.tip}}"
          ng-model="model[key]" />
        <small class="text-muted">
          <strong>{{field.label}}</strong>
        </small>
      </label>
    </div>

    <div class="input-group input-group-sm" ng-if="field.type!='select' && field.type!='checkbox'">
      <label for="providerfield-{{$index}}" class="input-group-addon">
        {{field.label}}
        <span class="fa fa-asterisk" ng-show="required[key]"></span>
      </label>
      <input id="providerfield-{{$index}}" type="{{field.type}}"
        class="form-control"
        placeholder="{{field.tip}}"
        ng-required="required[key]"
        ng-model="model[key]" />
    </div>

    <div class="form-inline" ng-if="field.type=='select'">
      <label for="providerfield-{{$index}}">
        <small class="text-muted">{{field.label}}</small>
      </label>
      <select id="providerfield-{{$index}}" 
        class="form-control input-sm"
        title="{{field.tip}}"
        ng-model="model[key]"
        ng-options="item for item in field.options"></select>
    </div>

  </div>
</div>