<form class="form-horizontal" role="form" id="create-provider-form" action="/providers/create" ng-submit="submitProvider($event)">
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="providerName" name="inputName" placeholder="Name" ng-model="inputName">
      </div>
    </div>
    <div class="form-group">
      <label for="inputDescription" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="inputDescription" name="inputDescription" placeholder="Description" ng-model="inputDescription">
      </div>
    </div>
    <div class="form-group">
      <label for="inputProvisioner" class="col-sm-2 control-label">Provider type</label>
      <div class="col-sm-8">
        <select class="form-control" name="inputProvisioner" id="provisioner-select" ng-model="providerType" ng-options="name for (name,item) in providerData">
          <option></option>
        </select>
      </div>                
    </div>

    <div class="form-group" ng-repeat="(name,fieldData) in providerInputs.parameters.admin.fields">
      <label class="col-sm-2 control-label">[[fieldData.label]]</label>
      <div class="col-sm-8">
        <input class="form-control" id="[[name]]" type="[[fieldData.type]]" ng-model="fieldData.default" placeholder="[[fieldData.tip]]" ng-show="fieldData.type === 'text' || fieldData.type == 'password'" />
        <select class="form-control" id="[[name]]" type="[[fieldData.type]]" ng-model="fieldData.default" ng-options="region as region for region in fieldData.options" placeholder="[[fieldData.tip]]" ng-show="fieldData.type === 'select'" ></select>
        <input class="form-control" id="[[name]]" type="[[fieldData.type]]" ng-model="fieldData.default" ng-show=" fieldData.type === 'checkbox'"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
          <button type="submit" class="btn-spl btn-info">Submit</button>
      </div> 
    </div>
</form>
