<div class="page-header">

  <div class="pull-right" role="navigation">
    <div class="btn-group btn-group-sm">
      <a class="btn btn-default" ui-sref=".list" ng-class="{'active': $state.includes('*.list')}">
        <span class="fa fa-list"></span>
      </a>
      <div class="btn-group btn-group-sm dropdown">
        <a class="btn btn-default dropdown-toggle" bs-dropdown="dropdown" data-placement="bottom-right" ng-class="{'disabled': !subnavList.length}">
          {{$state.current.data.ddLabel | uppercase}}
          <span class="caret"></span>
        </a>
      </div>
    </div>
    <a class="btn btn-default btn-sm" ui-sref=".create" ng-class="{'active disabled': $state.includes('**.create') || $state.includes('**.create.**')}">
      <span class="fa fa-files-o"></span>
      Create
    </a>
  </div>

  <h2>
    {{$state.current.data.title || $state.current.name}}
    <small>{{$state.params.id || $state.params.name}}</small>
  </h2>
</div>

<div ui-view></div>
