/**
 * Common shared style elements between all skins.
 */

/**
 * Global common CSS
 */

#notification {
  color: white;
}

.text-danger .lowercasify {
  color: #E74D4A;
}

.text-success .lowercasify {
  color: #77b300;
}

.text-info .lowercasify {
  color: #31708f;
}

/**************************************************************************************************/

/**
 * CSS slide checkbox from http://cssdeck.com/labs/css-checkbox-styles
 */

.slideThree input[type=checkbox] {
  visibility: hidden;
}

.slideThree {
  width: 80px;
  height: 26px;
  background: #333;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
  content: 'OFF';
  font: 12px/26px Arial, sans-serif;
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
  content: 'ON';
  font: 12px/26px Arial, sans-serif;
  color: #00C500;
  position: absolute;
  left: 10px;
  z-index: 0;
  font-weight: bold;
}

.slideThree label {
  display: block;
  width: 34px;
  height: 20px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;

  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
  left: 43px;
}

/**************************************************************************************************/

.services-number {
  background: white;
  font-size: 16px;
  color: #5D6479;
  padding: 8px;
  border-radius: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 10px;
}

.services-number-holder {
  padding: 10px;
  border-right: 1px solid #747474;
  padding-right: 0px;
  display: inline-block;
}

.service-name-holder {
  color: #B9BABB;
  font-size: 1em;
  display: inline-block;
}

.service-name-container {
  padding: 10px;
  border-right: 1px solid #747474;
  display: inline-block;
}

.serviceset-nodes-showhide {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.smallmargin-nodes-showhide {
  margin-top: 4px;
  margin-right: 10px;
}

.btn-empty {
  border: 0;
  width: 38px;
  height: 28px;
}

.left-float {
  float: left;
}

/**
 * Tablesorter overrides for all skins.
 */
table.tablesorter thead tr .header {
  background-image: url('/static/img/v2-assets/icon_dropdown.png');
}

table.tablesorter thead tr .header {
  background-position: 95% 14px;
}

/**************************************************************************************************/

body #nav .login-dropdown li a span {
  margin-left: 15px;
  color: white;
}

#nav .navbar-right {
  height: 100px;
}

#nav .navbar-right,
#nav .navbar-right li {
  background: #ff6600;
}

#nav .navbar-right li ul li {
  background: #ff6600;
  height: auto;
  box-shadow: 0px 0px 1px 1px #3F3F3F;
}

@media screen and (max-width: 1230px) {
  body #nav ul.navbar-nav li.nav-item {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media screen and (max-width: 910px) {
  body #nav ul.navbar-nav li.nav-item {
    display: none;
  }
}

/**************************************************************************************************/


ul.tenants-tickers li > div {
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  padding: 1em 1em 0;
  border: 2px solid #eee;
}

ul.tenants-tickers em {
  display: block;
  font-size: 60px;
}
