<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <form name="newThingForm"
          ng-submit="validateAndAddToModel(newThing.name)"
          ng-class="{'has-error': newThingName.$invalid || modalError}"
          novalidate>

        <div class="modal-header" ng-show="title">
          <button type="button" class="close" ng-click="$hide()">&times;</button>
          <h4 class="modal-title" ng-bind="title"></h4>
        </div>

        <div class="modal-body">

          <div class="form-group">
            <p class="help-block" ng-show="modalError">
              this {{thingName}} already exists!
            </p>
            <div class="input-group">
              <label for="newThingName-{{thingName}}" class="input-group-addon">
                New {{thingName}} name
              </label>
              <input type="text"
                name="newThingName"
                ng-model="newThing.name"
                id="newThingName-{{thingName}}"
                my-focus="inputNewThingName_{{thingName}}"
                class="form-control"
                required />
            </div>
          </div>

        </div>

        <div class="modal-footer text-right">
          <button type="submit"
            ng-disabled="newThingForm.$invalid"
            class="btn btn-primary"
          >Add</button>
        </div>

      </form>

    </div>
  </div>
</div>