<!DOCTYPE html>
<html lang="en" ng-strict-di>
<head>
    <title>Directives Test</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../dist/bundle/lib.css" />
    <link rel="stylesheet" type="text/css" href="../dist/bundle/app.css" />
</head>
<body>

  <header class="container">
    <h1>Directives</h1>
  </header>

  <div class="container">
    <hr />

    <section
      ng-init="providermap = {}; allProviders = [{name: 'provider1'}, {name: 'provider2'}]; textFields=[{name: 'field1', placeholder: ''}];"
    >
      <h6>Dropdown text combo</h6>

      <div class="row">
        <div class="col-sm-9">

      <my-dropdown-text-combo
          data-model="providermap"
          data-dropdown-list="allProviders"
          data-text-fields="textFields"
          data-asset-label="Provider"
      ></my-dropdown-text-combo>

        </div>
        <div class="col-sm-3">
          <pre>{{providermap | json}}</pre>
        </div>
      </div>


    </section>
    <hr />


    <section
      ng-init="thingPicker = {model:[], avail:['foo', 'bar', 'baz']}"
    >
      <h6>thing picker</h6>

      <div class="row">
        <div class="col-sm-9">

      <my-thing-picker
        data-model="thingPicker.model"
        data-available="thingPicker.avail"
        data-allow-rm="true"
      ></my-thing-picker>

        </div>
        <div class="col-sm-3">
          <pre>{{thingPicker.model | json}}</pre>
        </div>
      </div>


    </section>
    <hr />

    <section>
      <h6>password</h6>

      <my-password value="'supers3cr3t'"></my-password>

    </section>
    <hr />

    <section ng-init="doublerange = {max:30, min: 2}">
      <h6>doublerange</h6>

      <div class="row">
        <div class="col-sm-9">

          <my-doublerange
            data-model="doublerange"
            data-html5="true"
            data-max-threshold="500"
          ></my-doublerange>

        </div>
        <div class="col-sm-3">
          <pre>{{doublerange | json}}</pre>
        </div>
      </div>


    </section>


  </div>

  <script type="text/javascript" src="../dist/bundle/lib.js"></script>
  <script type="text/javascript" src="config.js"></script>
  <script>
    angular.element(document).ready( function () {
      setTimeout(function(){
        angular.bootstrap(document, [
          PKG.name+'.directives',
          'ngSanitize',
          'ngAnimate'
        ]);
      }, 1);
    });
  </script>
  <script type="text/javascript" src="../dist/bundle/app.js"></script>
  <script type="text/javascript" src="../dist/bundle/tpl.js"></script>

</body>
</html>
