<!DOCTYPE html>
<html lang="en" ng-app="coopr-ngui" ng-strict-di>
<head>
    <title ng-bind="$state.current | myTitleFilter">Coopr</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/bundle/lib.css" />
    <link rel="stylesheet" type="text/css" href="/bundle/app.css" />
</head>
<body ng-controller="BodyCtrl" ng-class="bodyClass">

    <header class="navbar navbar-default navbar-fixed-top">
      <div class="container" role="navigation" my-navbar></div>
    </header>

    <main class="container">
      <div ui-view></div>
    </main>

    <div id="alerts">
      <div class="container"></div>
    </div>

    <footer>
      <div class="container">
        <p class="text-muted" ng-cloak>
          <small><strong>State:</strong> {{$state.current.name}} <tt>{{$state.params | json}}</tt></small>
          <span class="pull-right">&copy; 2014 Cask Data, Inc.</span>
        </p>
      </div>
    </footer>

    <script type="text/javascript" src="/bundle/lib.js"></script>
    <script type="text/javascript" src="/config.js"></script>
    <script type="text/javascript" src="/bundle/app.js"></script>
    <script type="text/javascript" src="/bundle/tpl.js"></script>

    <script type="text/javascript">
      if(location.host==='localhost:8080') {
        document.write('<script src="http://localhost'
          + ':35729/livereload.js"></' + 'script>');
      }
    </script>
</body>
</html>
