<div class="table-responsive">
<table class="table table-striped" my-sortable>
  <thead>
    <tr ng-class="{'sort-enabled': list.length>1}">
      <th>name</th>
      <th ng-show="currentUser.hasRole('admin')">owner</th>
      <th data-predicate="createTime" data-predicate-default="reverse">creation time</th>
      <th data-predicate="clusterTemplate.name">template</th>
      <th data-predicate="numNodes"># of nodes</th>
      <th colspan="3">status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in list | filter:(filterIsOff?null:isActive) | orderBy:sortable.predicate:sortable.reverse">

      <td><a ui-sref="^.detail({id: item.id})">{{item.name}}</a></td>

      <td ng-show="currentUser.hasRole('admin')">{{item.ownerId}}</td>

      <td><small am-time-ago="item.createTime"></small></td>

      <td><small>{{item.clusterTemplate.name}}</small></td>

      <td>{{item.numNodes}}</td>

      <td>
        <my-status-label 
          data-value="item.status" 
          data-display="{
            'pending': item.progress.actionstatus
          }"
        ></my-status-label>
      </td>
      <td>
        <my-progress data-type="bar"
          data-add-cls="{{{
            'active': 'info',
            'pending': 'success striped',
            'incomplete': 'danger',
            'terminated': 'danger'
          }[item.status]}}"
          data-value="item.progress.stepscompleted" 
          data-max="item.progress.stepstotal"
        ></my-progress>
      </td>

      <td class="text-right">
        <a ui-sref="^.detail({id: item.id})"
          class="btn btn-default btn-xs">
            Details
        </a>
      </td>

    </tr>
  </tbody>
</table>
</div>

<div ng-hide="(list.$promise && !list.$resolved) || list.length" class="well text-center">

  <p>You don't have any clusters!</p>
  <p><a class="btn btn-primary" role="button" ui-sref="clusters.create">
    Create a cluster
  </a></p>

</div>


<div class="text-center am-fade-and-slide-top" ng-show="togglerVisible">
  <hr />
  <button type="button" class="btn btn-default btn-xs" 
      ng-model="filterIsOff"
      bs-checkbox>
    <span class="fa fa-ellipsis-v fa-fw"></span>
    show all clusters
  </button>
</div>
