<!DOCTYPE html>
<!--
 Copyright © 2012-2014 Cask Data, Inc.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" type="text/css" href="/static/css/{{skin}}/custom_tablesorter.css">
        <link rel="stylesheet" href="/static/third_party/bootstrap_3/css/bootstrap.min.css">
        {% if env == 'production' %}
            <link rel="stylesheet" type="text/css" href="/static/css/{{skin}}/custom.css">
        {% else %}
            <link rel="stylesheet/less" type="text/css" href="/static/css/{{skin}}/custom.less">
        {% endif %}
        <link rel="stylesheet" type="text/css" href="/static/css/common.css">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>

        <script src="/static/third_party/modernizr-2.6.2.min.js"></script>
        <script src="/static/third_party/jquery-1.9.1.min.js"></script>
        <script src="/static/third_party/bootstrap_3/js/bootstrap.min.js"></script>
        <script src="/static/third_party/bootbox.min.js"></script>
        <script src="/static/third_party/tablesorter/jquery.tablesorter.min.js"></script>
        <script src="/static/third_party/less-1.5.0.min.js"></script>
        <script src="/static/js/helpers.js" type="text/javascript"></script>
        <script type="text/javascript" src="/static/js/prettyprinter.js"></script>
        <script type="text/javascript" src="/static/third_party/jquery-textrange.js"></script>
        {% block headscript %}{% endblock %}
        <script src="/static/js/helpers.js" type="text/javascript"></script>
        <title>{% block title %}Overview{% endblock %} | Coopr</title>
    </head>
    <body>
    {% block body %}
      {% block nav %}
        <div id="nav">
          <div class="navbar transparent navbar-transparent" role="navigation">
            <div>
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" href="#">
                  <a href="{% if authenticated.id === 'admin' %}/{% else %}/user/clusters{% endif %}" id="logo"></a>
                </div>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  {% include "partials/left-menu.html" %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <img src="/static/img/v2-assets/icon_more.png" />
                    </a>
                    <ul class="dropdown-menu login-dropdown">
                      {% include "partials/menu-login-item.html" %}
                    </ul>
                  </li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
      {% endblock %}
      <div id="content">
        {% include "partials/notification-div.html" %}
      {% block content %}
        <div id="content-body">
          <div id="title clearfix">
            <div>
              <div class="pull-right" style="margin-right: 24px">
                <form class="inline-display" id="import-config-form" enctype='multipart/form-data' method="POST" action="/import">
                  <input id="import-file" type="file" name="import-file"/>
                  <button type="button" class="btn-spl btn-info" id="import-config">Import</button>
                </form>
                <form class="inline-display" method="GET" action="/export">
                  <button type="submit" class="btn-spl btn-info" id="import-config">Export</button>
                </form>
              </div>
            </div>
          </div>
          <div style="clear:both"></div>

          <div id="panels">
            <div class="row">
              <div class="col-sm-offset-2 col-sm-2">
                <div class="panel frontpage-ticker">
                  <div class="panel-head">
                    <div class="panel-title">
                      <h4 class="center-align">Live Clusters</h4>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="home-headline-amount center-align">{{totalClusters}}</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="panel frontpage-ticker">
                  <div class="panel-head">
                    <div class="panel-title">
                      <h4 class="center-align">Pending Clusters</h4>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="home-headline-amount center-align">{{pendingClusters}}</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="panel frontpage-ticker">
                  <div class="panel-head">
                    <div class="panel-title">
                      <h4 class="center-align">Live Nodes</h4>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="home-headline-amount center-align">{{activeNodes}}</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="panel frontpage-ticker">
                  <div class="panel-head">
                    <div class="panel-title">
                      <h4 class="center-align">All Nodes</h4>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="home-headline-amount center-align">{{totalNodes}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel spl-panel" style="clear: both;">
              <div class="panel-head spl-panel-head">
                <div class="panel-title spl-panel-title"><a href="/clustertemplates"><h3>Catalog</h3></a></div>
              </div>
              <div class="panel-body spl-panel-body">
                {% if clustertemplates and clustertemplates.length %}
                  <table class="table table-striped table-main clustertemplates-table tablesorter spl-panel-table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for entry in clustertemplates %}
                        <tr>
                          <td><a href="/clustertemplates/clustertemplate/{{entry.name}}">{{ entry.name }}</a></td>
                          <td>{{ entry.description }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                    
                  </table>
                  {% else %}
                    <p>You haven't configured any clustertemplates.</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      <script data-main="/static/js/admin-index" src="/static/third_party/require.js"></script>
      {% endblock %}
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
        {% include "partials/footer.html" %}
      {% endblock %}
      </div>
      <br/>
      <br/>
    {% block bodyscript %}
    {% endblock %}
    </body>
</html>
