{% extends "index.html" %}
{% block title %}Login{% endblock %}
{% block header %}
    {% include "page-header.html" %}
{% endblock %}

{% block body %}
  {% block nav %}
    <div id="nav">
      <div class="navbar transparent navbar-transparent" role="navigation">
        <div class="">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand" href="#">
              <a href="/" id="logo"></a>
            </div>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              {% if authenticated.id === 'admin' %}
              {% include "partials/left-menu.html" %}
              {% else %}
              <li id="nav-clusters-container" class="{% if activeTab == 'clusters' %}active{% endif %} nav-item last">
                <a class="nav-icon nav-clusters" href="/user/clusters"></a>
                <a class="nav-link" id="nav-clusters" href="/user/clusters">Clusters</a>
              </li>
              {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="/static/img/v2-assets/icon_more.png" />
                </a>
                <ul class="dropdown-menu login-dropdown">
                  {% include "partials/menu-login-item.html" %}
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  {% endblock %}
  <div id="content">
    <div id="notification-div">
      <div id="notification">{{ err }}</div>
    </div>
  {% block content %}
      <div id="header">
      <div id="global">
      </div>
    </div>
    <div id="content-body">
      <div id="title">
        <h3>Login</h3>
      </div>

    <div id="panels">

      <div class="panel spl-panel" style="clear: both;">
        <div class="panel-body spl-panel-body">
          <form class="form-horizontal" role="form" id="create-provider-form" method="POST" action="/login">
          <div class="form-group">
            <label for="tenant" class="col-sm-2 control-label">Tenant</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="tenant" name="tenant" placeholder="tenant" />
            </div>
          </div>
          <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="username" name="username" placeholder="username" required />
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-4">
              <input type="password" class="form-control" id="password" name="password" placeholder="password" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
              <button type="submit" class="btn-spl btn-info">Login</button>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  {% endblock %}
  <div id="footer" style="clear: both;"><span id="copyright">COPYRIGHT &#169; 2014 Cask Data, Inc.</span>
  </div>

{% endblock %}
