<div class="my-doublerange" ng-class="{html5:html5}">

  <div class="row">
    <div class="{{ html5 ? 'col-xs-5' : 'col-xs-6' }}">

      <div class="text-center" ng-show="html5">
        <small>min</small>
        <span class="label label-info" 
          ng-bind="model.min"
        ></span>
      </div>

      <span ng-class="{'input-group input-group-sm': !html5}">
        <span class="{{ html5 ? 'sr-only' : 'input-group-addon' }}">
          Min
        </span>

        <input type="{{ html5 ? 'range' : 'number' }}"
          step="1"
          ng-pattern="/^-?\d+$/"
          min="{{ getConstraint('min', 'min') }}"
          max="{{ getConstraint('max', 'min') }}"
          ng-class="{ 'form-control': !html5 }" 
          ng-model="range.min"
        />

      </span>

    </div>
    <div class="{{ html5 ? 'col-xs-5' : 'col-xs-6' }}">

      <div class="text-center" ng-show="html5">
        <small>max</small>
        <span class="label label-info" 
          ng-bind="model.max"
        ></span>
      </div>

      <span ng-class="{'input-group input-group-sm': !html5}">
        <span class="{{ html5 ? 'sr-only' : 'input-group-addon' }}">
          Max
        </span>

        <input type="{{ html5 ? 'range' : 'number' }}" 
          step="1"
          ng-pattern="/^-?\d+$/"
          min="{{ getConstraint('min', 'max') }}"
          max="{{ getConstraint('max', 'max') }}"
          ng-class="{ 'form-control': !html5 }" 
          ng-disabled="html5 && maxout"
          ng-model="range.max"
        />

      </span>

    </div>

    <div class="{{ html5 ? 'col-xs-2' : 'hidden' }}">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="maxout" />
          <small>Maxout</small>
        </label>
      </div>
    </div>

  </div>

</div>