<form name="tenantForm" class="form-horizontal" role="form" ng-submit="doSubmit(model)" novalidate>

  <div class="form-group">
    <label for="inputTenantName" class="col-xs-2 control-label">Name</label>
    <div class="col-xs-10">
      <input id="inputTenantName" type="text" name="name" class="form-control" 
        placeholder="Name" 
        my-focus="inputTenantName"
        ng-readonly="editing"
        ng-pattern="/^[\w\.\-]+$/"
        maxlength="255"
        ng-model="model.name" required/>
    </div>
  </div>

  <div class="form-group">
    <label for="inputWorkers" class="col-xs-2 control-label">Settings</label>
    <div class="col-xs-10">

      <fieldset class="row">
        <div class="col-xs-4">
          <div class="input-group">
            <label for="inputWorkers" class="input-group-addon">Workers</label>
            <input id="inputWorkers" class="form-control" type="number" 
              ng-model="model.workers"
              ng-pattern="/^\d+$/"
              min="0" max="{{maxWorkers}}" required/>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="input-group">
            <label for="inputMaxClusters"class="input-group-addon">Max Clusters</label>
            <input id="inputMaxClusters" class="form-control" type="number" 
              ng-model="model.maxClusters"
              ng-pattern="/^\d+$/"
              min="0" max="2147483647" required/>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="input-group">
            <label for="inputMaxNodes" class="input-group-addon">Max Nodes</label>
            <input id="inputMaxNodes" class="form-control" type="number" 
              ng-model="model.maxNodes"
              ng-pattern="/^\d+$/"
              min="0" max="2147483647" required/>
          </div>
        </div>
      </fieldset>

    </div>
  </div>

  <div class="form-group">
    <label for="inputTenantDescription" class="col-xs-2 control-label">Description</label>
    <div class="col-xs-10">
      <textarea id="inputTenantDescription" class="form-control" name="config" rows="4"
        ng-model="model.description"
        ></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-10 col-xs-offset-2">
      <button type="submit" class="btn btn-primary" 
        ng-disabled="submitting || tenantForm.$invalid">
        <span class="fa fa-save"></span>
        <span ng-show="editing">Update</span>
        <span ng-hide="editing">Create</span>
      </button>
    </div>
  </div>

</form>

