<div class="form-group">
  <label for="inputTemplateName" class="col-xs-2 control-label">
    Name
  </label>
  <div class="col-xs-10">
    <input id="inputTemplateName" type="text" name="name" class="form-control" 
      placeholder="Name" 
      my-focus="inputTemplateName"
      ng-readonly="editing"
      ng-pattern="/^[\w\.\-]+$/"
      maxlength="255"
      ng-model="model.name" required />
  </div>
</div>

<div class="form-group">
  <label for="inputTemplateDescription" class="col-xs-2 control-label">
    Description
  </label>
  <div class="col-xs-10">
    <input id="inputTemplateDescription" type="text" name="description" class="form-control" 
      placeholder="Description" 
      ng-model="model.description" />
  </div>
</div>


<div class="form-group">
  <label for="inputTemplateLeaseDays-initial" class="col-xs-2 control-label">
    Lease duration
  </label>
  <div class="col-xs-10">

    <fieldset class="row" ng-repeat="leaseType in ['initial', 'max', 'step']">
      <div class="col-xs-1">
        <div class="form-control-static text-right text-capitalize">
          {{leaseType}}:
        </div>
      </div>
      <div class="col-xs-3">
        <div class="input-group">
          <label for="inputTemplateLeaseDays-{{leaseType}}" class="input-group-addon">
            Days
          </label>
          <input id="inputTemplateLeaseDays-{{leaseType}}" class="form-control" type="number" 
            ng-model="leaseDuration[leaseType].days"
            ng-pattern="/^\d+$/"
            min="0" required/>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="input-group">
          <label for="inputTemplateLeaseHours-{{leaseType}}"class="input-group-addon">
            Hours
          </label>
          <input id="inputTemplateLeaseHours-{{leaseType}}" class="form-control" type="number" 
            ng-model="leaseDuration[leaseType].hours"
            ng-pattern="/^\d+$/"
            min="0" max="23" required/>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="input-group">
          <label for="inputTemplateLeaseMinutes-{{leaseType}}" class="input-group-addon">
            Minutes
          </label>
          <input id="inputTemplateLeaseMinutes-{{leaseType}}" class="form-control" type="number" 
            ng-model="leaseDuration[leaseType].minutes"
            ng-pattern="/^\d+$/"
            min="0" max="59" required/>
        </div>
      </div>
    </fieldset>

  </div>
</div>